:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

main {
	max-width: 8.5in;
	margin: auto;
}

h1 {
	font-size: 1.6em;
}

div.demo {
	font-size: 1.4em;
}

label {
	font-family: monospace;
}

form.input-bytes {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

form.input-bytes > div.data {
	display: flex;
	width: 100%;
	column-gap: 0.5rem;
}

form.input-bytes > div.data > input[type="text"] {
	flex-grow: 1;
}

form.input-bytes > div.data > input[type="submit"], input[type="button"] {
	padding-left: 2rem;
	padding-right: 2rem;
}

form.input-bytes > div.input-bytes-info {
	background-color: #f2ecc6;
	border: 1px solid #bfb689;
	padding: 1em;
	font-size: 1rem;
	transition: 0.1s;
}

form.input-bytes > div.emph {
	background-color: #f78a8a;
	transition: 0.1s;
}

table#content {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

th {
	text-align: left;
}

th.bias, td.bias {
	text-align: right;
}

div.entry:hover {
	background-color: #eaeaea;
}
