name: build
on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable && rustup default stable
      - run: cargo install wasm-pack
      - run: wasm-pack build $GITHUB_WORKSPACE/alg
      - uses: actions/upload-artifact@v4
        with:
          name: alg-pkg
          path: alg/pkg
          if-no-files-found: error
      - uses: actions/setup-node@v6
      - run: npm install --prefix web
      - run: npm run build --prefix web
      - uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: web/dist
          if-no-files-found: error
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
